<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itmang.mapper.study.ExaminationInformationMapper">


    <insert id="insertExaminationInformation">
        insert into examination_information
            (id,examination_name,user_ids,score_value,
             single_choice_ids,multiple_choice_ids,judge_ids,fill_blank_ids,
             question_quantity,examination_instruction,start_time,end_time,
             create_by,create_time,update_by,update_time,is_delete)
        values
            (#{id},#{examinationName},#{userIds},#{scoreValue},
             #{singleChoiceIds},#{multipleChoiceIds},#{judgeIds},#{fillBlankIds},
             #{questionQuantity},#{examinationInstruction},#{startTime},#{endTime},
             #{createBy},#{createTime},#{updateBy},#{updateTime},#{isDelete})
    </insert>

    <update id="removeBatchByIds">
        update examination_information
        set is_delete = 1
        where id in
        <foreach item="item" collection="array" separator="," open="(" close=")">
            #{item}
        </foreach>
    </update>

    <update id="updateExaminationInformation">
        update examination_information
        <set>
            <if test="examinationName != null and examinationName != ''">
                examination_name = #{examinationName},
            </if>
            <if test="userIds != null and userIds != ''">
                user_ids = #{userIds},
            </if>
            <if test="scoreValue != null and scoreValue != ''">
                score_value = #{scoreValue},
            </if>
            <if test="singleChoiceIds != null and singleChoiceIds != ''">
                single_choice_ids = #{singleChoiceIds},
            </if>
            <if test="multipleChoiceIds != null and multipleChoiceIds != ''">
                multiple_choice_ids = #{multipleChoiceIds},
            </if>
            <if test="judgeIds != null and judgeIds != ''">
                judge_ids = #{judgeIds},
            </if>
            <if test="fillBlankIds != null and fillBlankIds != ''">
                fill_blank_ids = #{fillBlankIds},
            </if>
            <if test="questionQuantity != null">
                question_quantity = #{questionQuantity},
            </if>
            <if test="examinationInstruction != null and examinationInstruction != ''">
                examination_instruction = #{examinationInstruction},
            </if>
            <if test="startTime != null">
                start_time = #{startTime},
            </if>
            <if test="endTime != null">
                end_time = #{endTime},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="selectExaminationInformationList" resultType="com.itmang.pojo.vo.ExaminationPageVO">
        select
        id,examination_name as examinationName,question_quantity as questionQuantity,
        start_time as startTime,end_time as endTime,update_time as updateTime
        from examination_information
        <where>
            <if test="examinationName != null and examinationName != ''">
                and examination_name like concat('%', #{examinationName}, '%')
            </if>
            <if test="startTimeStart != null">
                and start_time &gt;= #{startTimeStart}
            </if>
            <if test="startTimeEnd != null">
                and start_time &lt;= #{startTimeEnd}
            </if>
            <if test="endTimeStart != null">
                and end_time &gt;= #{endTimeStart}
            </if>
            <if test="endTimeEnd != null">
                and end_time &lt;= #{endTimeEnd}
            </if>
            and is_delete = 2
        </where>
    </select>


</mapper>
