<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itmang.mapper.study.QuestionBankMapper">


    <insert id="insertQuestionBank">
        insert into question_bank
            (id, type, question,question_option, answer_type, is_choose,times
             create_by, create_time, update_by, update_time, note, is_delete)
        values
            (#{id}, #{type}, #{question}, #{questionOption}, #{answerType}, #{isChoose}, #{times}
             #{createBy}, #{createTime}, #{updateBy}, #{updateTime}, #{note}, #{isDelete})
    </insert>

    <update id="updateQuestionBankSelected">
        update question_bank
            set is_choose = #{status}
        where id =
            <foreach collection="array" item="item" index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
    </update>

    <update id="removeBatchByIds">
        update question_bank
            set is_delete = 1
        where id in
            <foreach collection="array" item="item" index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
    </update>

    <update id="updateQuestionBank">
        update question_bank
        <set>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="question != null and question != ''">question = #{question},</if>
            <if test="questionOption != null and questionOption != ''">
                question_option = #{questionOption},
            </if>
            <if test="answerType != null and answerType != ''">answer_type = #{answerType},</if>
            <if test="note != null and note != ''">note = #{note},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        where id = #{id}
    </update>

    <update id="updateQuestionBankTimes">
        update question_bank
        set times = times + #{times}
        where id = #{addQuestionId}
    </update>

    <select id="queryQuestionBankById" resultType="com.itmang.pojo.vo.BankVO">
        select q.type, q.question, q.question_option, q.answer_type, q.is_choose,
            q.times, u.user_name as updateName, q.update_time ,q.note
        from question_bank q
            left join user u on q.update_by = u.id
        where q.id = #{id} and q.is_delete = 2
    </select>

    <select id="queryQuestionBankList" resultType="com.itmang.pojo.vo.BankPageVO">
        select id, type, question,is_choose,times, update_time
        from question_bank
            <where>
                <if test="type != null and type != ''">and type = #{type}</if>
                <if test="question != null and type != ''">and question like concat('%',#{question},'%')</if>
                <if test="isChoose != null">and is_choose = #{isChoose}</if>
                and is_delete = 2
            </where>

    </select>


    <select id="seriesQuestionBank" resultType="com.itmang.pojo.vo.BankVO">
        select q.type, q.question, q.question_option, q.answer_type, q.is_choose,
               u.user_name as updateName, q.update_time ,q.note
        from question_bank q
                 left join user u on q.update_by = u.id
        where q.id in
        <foreach collection="ids" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
        and q.is_delete = 2
    </select>



</mapper>
