<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itmang.mapper.activity.SignInInformationMapper">


    <select id="querySignInInformationList" resultType="com.itmang.pojo.vo.SignInInformationPageVO">
        select s.id, s.sign_in_title, s.sign_in_content, s.start_time, s.end_time
        from sign_in_information s
        left join user u on s.create_by = u.id
        <where>
            <if test="userId != null and userId != ''">
                and s.create_by = #{userId}
            </if>
            <if test="userName != null and userName != ''">
                and u.user_name like concat('%', #{userName}, '%')
            </if>
            <if test="signInTitle != null and signInTitle != ''">
                and s.sign_in_title like concat('%', #{signInTitle}, '%')
            </if>
            <if test="startTimeStart != null">
                and s.start_time &gt;= #{startTimeStart}
            </if>
            <if test="startTimeEnd != null"> <!-- 原条件字段错误，修正为 v.start_time -->
                and s.start_time &lt;= #{startTimeEnd}
            </if>
            <if test="endTimeStart != null">
                and s.end_time &gt;= #{endTimeStart}
            </if>
            <if test="endTimeEnd != null">
                and s.end_time &lt;= #{endTimeEnd}
            </if>
            <!-- 核心修改：用 FIND_IN_SET 匹配单个用户ID是否在逗号分隔列表中 -->
            <if test="signId != null and signId != ''">
                and FIND_IN_SET(#{signId}, s.user_ids) &gt; 0
            </if>
            and s.is_delete = 2
        </where>
        order by s.update_time desc
    </select>


</mapper>