<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itmang.mapper.activity.VoteRecordMapper">

    <update id="deleteVoteIds">
        update vote_record set is_delete = 1 where id in
        <foreach item="item" collection="deleteIds" separator="," open="(" close=")">
            #{item}
        </foreach>
    </update>

    <select id="queryVoteRecordList" resultType="com.itmang.pojo.vo.VoteRecordPageVO">
        select v.id,vi.id as voteInformationId, vi.vote_title,
               v.user_id,u.user_name as userName,v.choose as voteChoose,v.update_time as voteTime
        from vote_record v
        left join user u on v.user_id = u.id
        right join vote_information vi on v.vote_information_id = vi.id
        <where>
            <if test="voterId != null and voterId != ''">
                and v.user_id = #{voterId}
            </if>
            <if test="voterName != null and voterName != ''">
                and u.user_name like concat('%',#{voterName},'%')
            </if>
            <if test="voteInformationId != null and voteInformationId != ''">
                and v.vote_information_id = #{voteInformationId}
            </if>
            <if test="voteInformationName != null and voteInformationName != ''">
                and vi.vote_title like concat('%',#{voteInformationName},'%')
            </if>
            <if test="choose != null and choose != ''">
                and FIND_IN_SET(#{choose}, v.choose) &gt; 0
            </if>
                and v.is_delete = 2
        </where>
        order by v.update_time desc
    </select>

</mapper>