<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itmang.mapper.action.ActionMapper">
    <!--  分页查询简略活动信息  -->
    <select id="pageGetShortActionMessage" resultType="com.itmang.pojo.vo.action.PageShortActionMessageVO">
        select action_name,activity_content,sign_up_start_time,action_start_time,action_end_time,event_address
        from action_information where is_delete = 2
        <if test="actionName != null and actionName != ''">and action_name like concat('%',#{actionName},'%')</if>
        <if test="createBy != null and createBy != ''">and create_by like concat('%',#{createBy},'%')</if>
    </select>

    <!--根据活动id修改活动信息-->
    <!-- 注意LocalDateTime时间类型不能使用 != ''  会报出类型转换错误 -->
    <update id="modifyActionMessage">
        update action_information
        <set>
            <if test="actionName != null and actionName != ''">action_name = #{actionName},</if>
            <if test="activityContent != null and activityContent != ''">activity_content = #{activityContent},</if>
            <if test="organizerPhone != null and organizerPhone != ''">organizer_phone = #{organizerPhone},</if>
            <if test="signUpStartTime != null">sign_up_start_time = #{signUpStartTime},</if>
            <if test="signUpEndTime != null">sign_up_end_time = #{signUpEndTime},</if>
            <if test="actionStartTime != null">action_start_time = #{actionStartTime},</if>
            <if test="actionEndTime != null">action_end_time = #{actionEndTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        where id = #{id}
    </update>

    <update id="deleteActionMessage">
        update action_information
        set is_delete = 1,update_by = #{currentId},update_time = #{now} where id in
        <foreach collection="idList" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>
</mapper>
